{% load static %} {% include 'parciais/_nav.html' %}

<section class="team1 cid-s3HGRqs85T" id="team1-e">
    <div class="container align-center">
        <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2">
            Nossa equipe :D
        </h2>
        <h3
            class="pb-5 mbr-section-subtitle mbr-fonts-style mbr-light display-5"
        >
            Venha conhecer um pouco mais do nosso time de Podcasters e outros
            envolvidos no projeto!
        </h3>
        <div class="row media-row">
            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img
                        src="{% static 'assets/images/face3.jpg' %}"
                        alt=""
                        title=""
                    />
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                            Liniker Santana
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>Instrutor</p>
                    </div>
                    <div class="item-social pt-2">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span
                                class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"
                            ></span>
                        </a>
                        <a
                            href="https://www.facebook.com/pages/Mobirise/1616226671953247"
                            target="_blank"
                        >
                            <span
                                class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"
                            ></span>
                        </a>
                        <a
                            href="https://plus.google.com/u/0/+Mobirise"
                            target="_blank"
                        >
                            <span
                                class="p-1 socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"
                            ></span>
                        </a>
                        <a
                            href="https://www.linkedin.com/in/mobirise"
                            target="_blank"
                        >
                            <span
                                class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"
                            ></span>
                        </a>
                        <a
                            href="https://www.instagram.com/mobirise/"
                            target="_blank"
                        >
                        </a>
                        <a
                            href="https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw"
                            target="_blank"
                        >
                        </a>
                    </div>
                </div>
            </div>
            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img
                        src="{% static 'assets/images/face2.jpg' %}"
                        alt=""
                        title=""
                    />
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                            Lázaro Henrique
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>Developer Front-End</p>
                    </div>
                    <div class="item-social pt-2">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span
                                class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"
                            ></span>
                        </a>
                        <a
                            href="https://www.facebook.com/pages/Mobirise/1616226671953247"
                            target="_blank"
                        >
                            <span
                                class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"
                            ></span>
                        </a>
                        <a
                            href="https://plus.google.com/u/0/+Mobirise"
                            target="_blank"
                        >
                            <span
                                class="p-1 socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"
                            ></span>
                        </a>
                        <a
                            href="https://www.linkedin.com/in/mobirise"
                            target="_blank"
                        >
                            <span
                                class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"
                            ></span>
                        </a>
                        <a
                            href="https://www.instagram.com/mobirise/"
                            target="_blank"
                        >
                        </a>
                        <a
                            href="https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw"
                            target="_blank"
                        >
                        </a>
                    </div>
                </div>
            </div>
            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img
                        src="{% static 'assets/images/face3.jpg' %}"
                        alt=""
                        title=""
                    />
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                            Abacaxi
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>Developer Back-end</p>
                    </div>
                    <div class="item-social pt-2">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span
                                class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"
                            ></span>
                        </a>
                        <a
                            href="https://www.facebook.com/pages/Mobirise/1616226671953247"
                            target="_blank"
                        >
                            <span
                                class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social"
                            ></span>
                        </a>
                        <a
                            href="https://plus.google.com/u/0/+Mobirise"
                            target="_blank"
                        >
                            <span
                                class="p-1 socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"
                            ></span>
                        </a>
                        <a
                            href="https://www.linkedin.com/in/mobirise"
                            target="_blank"
                        >
                            <span
                                class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social"
                            ></span>
                        </a>
                        <a
                            href="https://www.instagram.com/mobirise/"
                            target="_blank"
                        >
                        </a>
                        <a
                            href="https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw"
                            target="_blank"
                        >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'parciais/_footer.html' %}
